$btn-border-width: 1px;
$btn-border-style: solid;
$btn-transition: 0.5s border-color, 0.5s color, 0.5s background-color;
$btn-icon-transition: 0.5s;

$btn-lg-icon-size: 28px;
$btn-md-icon-size: 24px;
$btn-sm-icon-size: 20px;

$btn-lg-padding: 14px 18px;
$btn-lg-font-size: 18px;
$btn-lg-font-height: 28px;
$btn-lg-border-radius: 0px;

$btn-md-padding: 12px 16px;
$btn-md-font-size: 16px;
$btn-md-font-height: 24px;
$btn-md-border-radius: 0px;

$btn-sm-padding: 8px 12px;
$btn-sm-font-size: 14px;
$btn-sm-font-height: 20px;
$btn-sm-border-radius: 0px;
