.btn.btn-primary-outline:disabled {
  background-color: $btn-primary-outline-disabled-bg;
  border-color: $btn-primary-outline-disabled-border-color;
  color: $btn-primary-outline-disabled-color;
  cursor: not-allowed;
  user-select: none;

  &:hover {
    background-color: $btn-primary-outline-disabled-bg;
    border-color: $btn-primary-outline-disabled-border-color;
    color: $btn-primary-outline-disabled-color;
  }
}
