.btn.btn-primary.btn-icon {
  i svg {
    path,
    rect,
    line {
      fill: $btn-primary-color;
    }
  }

  &:hover {
    i svg {
      path,
      rect,
      line {
        fill: $btn-primary-hover-color;
      }
    }
  }

  &.btn-icon-left {
    flex-direction: row;

    i {
      display: flex;
      margin-right: 4px;
    }
  }

  &.btn-icon-right {
    flex-direction: row-reverse;

    i {
      display: flex;
      margin-left: 4px;
    }
  }
}
