$btn-primary-outline-bg: transparent;
$btn-primary-outline-color: #0b5fff;
$btn-primary-outline-border-color: #0b5fff;

$btn-primary-outline-hover-bg: #0053f0;
$btn-primary-outline-hover-color: #fff;
$btn-primary-outline-hover-border-color: $btn-primary-outline-hover-bg;

$btn-primary-outline-active-bg: transparent;
$btn-primary-outline-active-color: #004ad7;
$btn-primary-outline-active-border-color: #004ad7;

$btn-primary-outline-focus-bg: #004ad7;
$btn-primary-outline-focus-color: #fff;
$btn-primary-outline-focus-border-color: $btn-primary-outline-focus-bg;

$btn-primary-outline-disabled-bg: transparent;
$btn-primary-outline-disabled-color: rgba(#0b5fff, 0.5);
$btn-primary-outline-disabled-border-color: rgba(#0b5fff, 0.5);
