{% extends "./layout/layout.html" %} {% block title %}Home{% endblock %} {% block content %}

<section class="hero">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<div class="hero-title">
					Hello ✋, I'm Baran. I am the Director of <a href="https://basework.studio" target="_blank">Basework</a>. After 6 years of freelance experience, we are working on design and software projects with my team.
				</div>
			</div>
			<div class="col-lg-12">
				<div class="hero-image">
					<img src="dist/img/hero-image.jpg" alt="">
				</div>
			</div>
		</div>
	</div>
</section>

<main>
	<section class="interview">
		<div class="container">
			<div class="section-head">
				<div class="section-head-number">01.</div>
				<h2>Interviews & Speeches</h2>
			</div>
			<div class="repeat-list">
				<div class="list-item">
					<a href="javascript:;">
						Taze Frontend Camp'18 - Frontend Development Tools Workshop
					</a>
				</div>
				<div class="list-item">
					<a href="javascript:;">
						Bir İşe Giriştik - Web Development Workshop
					</a>
				</div>
				<div class="list-item">
					<a href="javascript:;">
						Çalışma Masam - Baran Somaklı
					</a>
				</div>
				<div class="list-item">
					<a href="javascript:;">
						Freelance Çalışmak | Avantajlar & Dezavantajlar - Baran Somaklı
					</a>
				</div>
				<div class="list-item">
					<a href="javascript:;">
						Freelance nedir? konuk: baran somaklı
					</a>
				</div>
				<div class="list-item">
					<a href="javascript:;">
						Ofissizler anlatıyor | Baran Somaklı | Front-end Developer
					</a>
				</div>
				<div class="list-item">
					<a href="javascript:;">
						Google Developers Group Trabzon - Freelance ve Remote Çalışmak
					</a>
				</div>
				<div class="list-item">
					<a href="javascript:;">
						Talkcast | Baran Somaklı ile Baştan Sona Freelance Çalışma Hayatı
					</a>
				</div>
			</div>
		</div>
	</section>
	<section class="articles">
		<div class="container">
			<div class="section-head">
				<div class="section-head-number">02.</div>
				<h2>Articles</h2>
			</div>
			<div class="repeat-list">
				<div class="list-item">
					<a href="javascript:;">
						Which applications do we use for Time tracking in Basework?
					</a>
				</div>
				<div class="list-item">
					<a href="javascript:;">
						What applications should you use for business management?
					</a>
				</div>
				<div class="list-item">
					<a href="javascript:;">
						How to submit handoff file to developer
					</a>
				</div>
			</div>
		</div>
	</section>
</main>



{% endblock %}
