{% extends "./layout/layout.html" %} {% block title %}Page List{% endblock %} {% block bodyClass %}handoff{% endblock %}
{% block content %}
<main class="handoff">
  <section class="handoff-hero">
    <div class="container">
      <h1>Page List</h1>
      <p>Docs / Page List</p>
    </div>
  </section>

  <section class="handoff-body">
    <div class="container">
      <div class="handoff-body-page-list">
        <ul>
          <li><a href="style-guide.html" target="_blank">00. Style Guide</a></li>
          <li><a href="style-guide.html" target="_blank">01. Style Guide</a></li>
          <li><a href="style-guide.html" target="_blank">02. Style Guide</a></li>
          <li><a href="style-guide.html" target="_blank">03. Style Guide</a></li>
          <li><a href="style-guide.html" target="_blank">04. Style Guides</a></li>
        </ul>
      </div>
    </div>
  </section>

  <section class="handoff-footer">
    <div class="container">
      <div class="handoff-footer-contain">
        <a href="mailto:info@basework.studio">info@basework.studio</a>
        <p>Created by <a href="javascript:;">Basework</a></p>
      </div>
    </div>
  </section>
</main>
{% endblock %}
