{% extends "./layout/layout.html" %} {% block title %}Style Guide{% endblock %} {% block bodyClass %}handoff{% endblock
%} {% block content %}
<main class="handoff">
  <section class="handoff-hero">
    <div class="container">
      <h1>Style Guide</h1>
      <p>Docs / Style Guide</p>
    </div>
  </section>

  <section class="handoff-body">
    <div class="handoff-body-style-guide">
      {% for i in range(0, 3) -%}
      <div class="handoff-body-style-guide-item">
        <div class="handoff-body-style-guide-item-title">
          <div class="container">
            <h5>Header</h5>
          </div>
        </div>

        <div class="handoff-body-style-guide-item-body">
          <div class="container">...</div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>

  <section class="handoff-footer">
    <div class="container">
      <div class="handoff-footer-contain">
        <a href="mailto:info@basework.studio">info@basework.studio</a>
        <p>Created by <a href="javascript:;">Basework</a></p>
      </div>
    </div>
  </section>
</main>

<main>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h5>Default</h5>

        <div class="row">
          <div class="col-lg-4">
            <button class="btn btn-primary btn-lg">BUTTON</button>
          </div>
          <div class="col-lg-4">
            <button class="btn btn-primary">BUTTON</button>
          </div>
          <div class="col-lg-4">
            <button class="btn btn-primary btn-sm">BUTTON</button>
          </div>
        </div>

        <br /><br />

        <h5>With Icon</h5>

        <div class="row">
          <div class="col-lg-4">
            <button class="btn btn-primary btn-lg btn-icon btn-icon-left">
              <i>
                <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="5" y="5" width="18" height="18">
                    <path
                      d="M21 15.1663H15.1666V20.9997C15.1666 21.6413 14.6416 22.1663 14 22.1663C13.3583 22.1663 12.8333 21.6413 12.8333 20.9997V15.1663H6.99998C6.35831 15.1663 5.83331 14.6413 5.83331 13.9997C5.83331 13.358 6.35831 12.833 6.99998 12.833H12.8333V6.99967C12.8333 6.35801 13.3583 5.83301 14 5.83301C14.6416 5.83301 15.1666 6.35801 15.1666 6.99967V12.833H21C21.6416 12.833 22.1666 13.358 22.1666 13.9997C22.1666 14.6413 21.6416 15.1663 21 15.1663Z"
                      fill="black" />
                  </mask>
                  <g mask="url(#mask0)">
                    <rect width="28" height="28" fill="white" />
                  </g>
                </svg>
              </i>

              BUTTON
            </button>
          </div>
          <div class="col-lg-4">
            <button class="btn btn-primary btn-icon btn-icon-left">
              <i>
                <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="5" y="5" width="18" height="18">
                    <path
                      d="M21 15.1663H15.1666V20.9997C15.1666 21.6413 14.6416 22.1663 14 22.1663C13.3583 22.1663 12.8333 21.6413 12.8333 20.9997V15.1663H6.99998C6.35831 15.1663 5.83331 14.6413 5.83331 13.9997C5.83331 13.358 6.35831 12.833 6.99998 12.833H12.8333V6.99967C12.8333 6.35801 13.3583 5.83301 14 5.83301C14.6416 5.83301 15.1666 6.35801 15.1666 6.99967V12.833H21C21.6416 12.833 22.1666 13.358 22.1666 13.9997C22.1666 14.6413 21.6416 15.1663 21 15.1663Z"
                      fill="black" />
                  </mask>
                  <g mask="url(#mask0)">
                    <rect width="28" height="28" fill="white" />
                  </g>
                </svg>
              </i>

              BUTTON
            </button>
          </div>
          <div class="col-lg-4">
            <button class="btn btn-primary btn-sm btn-icon btn-icon-right">
              <i>
                <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="5" y="5" width="18" height="18">
                    <path
                      d="M21 15.1663H15.1666V20.9997C15.1666 21.6413 14.6416 22.1663 14 22.1663C13.3583 22.1663 12.8333 21.6413 12.8333 20.9997V15.1663H6.99998C6.35831 15.1663 5.83331 14.6413 5.83331 13.9997C5.83331 13.358 6.35831 12.833 6.99998 12.833H12.8333V6.99967C12.8333 6.35801 13.3583 5.83301 14 5.83301C14.6416 5.83301 15.1666 6.35801 15.1666 6.99967V12.833H21C21.6416 12.833 22.1666 13.358 22.1666 13.9997C22.1666 14.6413 21.6416 15.1663 21 15.1663Z"
                      fill="black" />
                  </mask>
                  <g mask="url(#mask0)">
                    <rect width="28" height="28" fill="white" />
                  </g>
                </svg>
              </i>

              BUTTON
            </button>
          </div>
        </div>

        <br /><br />

        <h5>Active</h5>

        <div class="row">
          <div class="col-lg-4">
            <button class="btn btn-primary btn-lg btn-active">BUTTON</button>
          </div>
          <div class="col-lg-4">
            <button class="btn btn-primary btn-active">BUTTON</button>
          </div>
          <div class="col-lg-4">
            <button class="btn btn-primary btn-sm btn-active">BUTTON</button>
          </div>
        </div>

        <br /><br />

        <h5>Disabled</h5>

        <div class="row">
          <div class="col-lg-4">
            <button class="btn btn-primary btn-lg" disabled>BUTTON</button>
          </div>
          <div class="col-lg-4">
            <button class="btn btn-primary" disabled>BUTTON</button>
          </div>
          <div class="col-lg-4">
            <button class="btn btn-primary btn-sm" disabled>BUTTON</button>
          </div>
        </div>

        <br /><br />
      </div>
      <div class="col-lg-6">
        <h5>Default</h5>

        <div class="row">
          <div class="col-lg-4">
            <button class="btn btn-primary-outline btn-lg">BUTTON</button>
          </div>
          <div class="col-lg-4">
            <button class="btn btn-primary-outline">BUTTON</button>
          </div>
          <div class="col-lg-4">
            <button class="btn btn-primary-outline btn-sm">BUTTON</button>
          </div>
        </div>

        <br /><br />

        <h5>With Icon</h5>

        <div class="row">
          <div class="col-lg-4">
            <button class="btn btn-primary-outline btn-lg btn-icon btn-icon-left">
              <i>
                <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="5" y="5" width="18" height="18">
                    <path
                      d="M21 15.1663H15.1666V20.9997C15.1666 21.6413 14.6416 22.1663 14 22.1663C13.3583 22.1663 12.8333 21.6413 12.8333 20.9997V15.1663H6.99998C6.35831 15.1663 5.83331 14.6413 5.83331 13.9997C5.83331 13.358 6.35831 12.833 6.99998 12.833H12.8333V6.99967C12.8333 6.35801 13.3583 5.83301 14 5.83301C14.6416 5.83301 15.1666 6.35801 15.1666 6.99967V12.833H21C21.6416 12.833 22.1666 13.358 22.1666 13.9997C22.1666 14.6413 21.6416 15.1663 21 15.1663Z"
                      fill="black" />
                  </mask>
                  <g mask="url(#mask0)">
                    <rect width="28" height="28" fill="white" />
                  </g>
                </svg>
              </i>

              BUTTON
            </button>
          </div>
          <div class="col-lg-4">
            <button class="btn btn-primary-outline btn-icon btn-icon-left">
              <i>
                <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="5" y="5" width="18" height="18">
                    <path
                      d="M21 15.1663H15.1666V20.9997C15.1666 21.6413 14.6416 22.1663 14 22.1663C13.3583 22.1663 12.8333 21.6413 12.8333 20.9997V15.1663H6.99998C6.35831 15.1663 5.83331 14.6413 5.83331 13.9997C5.83331 13.358 6.35831 12.833 6.99998 12.833H12.8333V6.99967C12.8333 6.35801 13.3583 5.83301 14 5.83301C14.6416 5.83301 15.1666 6.35801 15.1666 6.99967V12.833H21C21.6416 12.833 22.1666 13.358 22.1666 13.9997C22.1666 14.6413 21.6416 15.1663 21 15.1663Z"
                      fill="black" />
                  </mask>
                  <g mask="url(#mask0)">
                    <rect width="28" height="28" fill="white" />
                  </g>
                </svg>
              </i>

              BUTTON
            </button>
          </div>
          <div class="col-lg-4">
            <button class="btn btn-primary-outline btn-sm btn-icon btn-icon-right">
              <i>
                <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="5" y="5" width="18" height="18">
                    <path
                      d="M21 15.1663H15.1666V20.9997C15.1666 21.6413 14.6416 22.1663 14 22.1663C13.3583 22.1663 12.8333 21.6413 12.8333 20.9997V15.1663H6.99998C6.35831 15.1663 5.83331 14.6413 5.83331 13.9997C5.83331 13.358 6.35831 12.833 6.99998 12.833H12.8333V6.99967C12.8333 6.35801 13.3583 5.83301 14 5.83301C14.6416 5.83301 15.1666 6.35801 15.1666 6.99967V12.833H21C21.6416 12.833 22.1666 13.358 22.1666 13.9997C22.1666 14.6413 21.6416 15.1663 21 15.1663Z"
                      fill="black" />
                  </mask>
                  <g mask="url(#mask0)">
                    <rect width="28" height="28" fill="white" />
                  </g>
                </svg>
              </i>

              BUTTON
            </button>
          </div>
        </div>

        <br /><br />

        <h5>Active</h5>

        <div class="row">
          <div class="col-lg-4">
            <button class="btn btn-primary-outline btn-lg btn-active">BUTTON</button>
          </div>
          <div class="col-lg-4">
            <button class="btn btn-primary-outline btn-active">BUTTON</button>
          </div>
          <div class="col-lg-4">
            <button class="btn btn-primary-outline btn-sm btn-active">BUTTON</button>
          </div>
        </div>

        <br /><br />

        <h5>Disabled</h5>

        <div class="row">
          <div class="col-lg-4">
            <button class="btn btn-primary-outline btn-lg" disabled>BUTTON</button>
          </div>
          <div class="col-lg-4">
            <button class="btn btn-primary-outline" disabled>BUTTON</button>
          </div>
          <div class="col-lg-4">
            <button class="btn btn-primary-outline btn-sm" disabled>BUTTON</button>
          </div>
        </div>

        <br /><br />
      </div>

      <div class="col-lg-6">
        <div class="form-group">
          <label for="name">Name</label>

          <input type="text" class="form-control" placeholder="Enter your name" id="name" />
        </div>
        <div class="form-group is-error">
          <label for="name">Name</label>

          <input type="text" class="form-control" placeholder="Enter your name" id="name" />
        </div>
        <div class="form-group">
          <label for="message">Message</label>
          <textarea name="" id="" cols="30" rows="10" class="form-control" id="message"></textarea>
        </div>
        <div class="form-group">
          <label for="gender">Gender</label>
          <select id="gender" class="form-control">
            <option value="">Choose one</option>
            <option value="1">Male</option>
            <option value="2">Female</option>
            <option value="3">Other</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
