$spacing-xxs: 4px;
$spacing-xs: 8px;
$spacing-s: 12px;
$spacing-m: 16px;
$spacing-xl: 24px;
$spacing-xxl: 32px;
$spacing-xxl-2: 40px;
$spacing-xxl-3: 64px;
$spacing-xxl-4: 72px;
$spacing-xxl-5: 92px;
$spacing-xxl-6: 112px;
$spacing-xxl-7: 132px;
$spacing-xxl-8: 164px;
$spacing-xxl-9: 196px;
$spacing-xxl-10: 280px;
